@using  SkillUp.VMs.User;
@model IEnumerable<UserRolsVMs> // chatch list 

@{
    ViewData["title"] = "List of Users and Their Roles";
}
<table>
    <thead>
        <tr>
            <th>UserNmae</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@string.Join(",",user.Roles)</td>
                 @*user and his roles*@
                <td>
                    <form asp-action="EditUserRoles" method="post">
                        @*msh m7taga azhro id m7taga a3dlo bs *@
                        <input type="hidden" name="userId" value="@user.UserId" />
                        <select name="roles" multiple> 
                            @foreach(var role in (IList<string>) ViewBag.AllRoles)
                            {
                                @*role m3ak wla la *@
                                if(user.Roles.Contains(role))
                                {
                                    <option value="@role" selected>@role</option>
                                }
                                else
                                { 
                                    <option value="@role">@role</option> 
                                }
                            }
                        </select>
                        <button class="btn btn-success" type ="submit">Update Roles </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>